[Desktop Entry]
Type=Application
Name=AnimeNotepad
GenericName=Bloc de Notas con Temática de Anime
Comment=Aplicación para la toma de notas con temática de anime.
Exec=./AnimeNotepad
Icon=./icon.png
Terminal=false
Categories=Office;Notes;TextEditor;txt;
StartupNotify=true