<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>AnimeNotepad</string>
    <key>CFBundleDisplayName</key>
    <string>AnimeNotepad</string>
    <key>CFBundleIdentifier</key>
    <string>com.esmesolutions.AnimeNotepad</string>
    <key>CFBundleVersion</key>
    <string>@APP_VERSION@</string>
    <key>CFBundleShortVersionString</key>
    <string>@APP_VERSION@</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>AnimeNotepad encrypted note</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.esmesolutions.animenotepad.uwu</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>uwu</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
